
.font3
{
  color: #00eefb;
  font-size: 40px;
  text-align: center;


}
  .font
  {
    color: white;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;

  }
  .font2
  {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 140px;
  }  
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #22262a; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 55px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  @media screen and (max-width: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
    .white-text-blockp1{position: relative; bottom: 50px; right: 40px;width:69%;}
    .images11{width: 200%;}
    .images21{width: 200%}
  }
  .white-text-blockp1
  {
    background-color: rgb(228, 228, 228);
    color: black;
    margin-left: 160px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid rgb(168, 166, 166);
    opacity: 90%;
    border-radius: 7px;
    position: relative; top:8px
  }
  .images11
  {
    margin: 10px;
    border-radius: 7px;
    width: 70%;
    height: 70%;
  }
  .images21
  {
    margin: 10px;
    border-radius: 7px;
    width: 70%;
    height: 70%;
  }