
.fontjs
{
  color: #00eefb;
  font-size: 30px;
  text-align: center;
  margin-left: 140px;
}
@media screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .textblock2  {position: relative;top: 50px;}
}